.detail {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    color: blue;
}

.button {
    background-color: royalblue;
    width: 100%;
    color: fuchsia;
    padding: 15px 32px;
    font-size: 40px;
    font-weight: bold;
    font-family: cursive;
    text-decoration: none;
    border-radius: 50px;
}

.button:hover {
   color: aqua;
}

.card {
    margin: 20px;
    width: 30rem;
    height: 35rem;
    background-color: blueviolet;
    border: 2px solid #06d6a0;
    font-family: cursive;
    border-radius: 2em;
    overflow: hidden;
    transition: all 0.5s;
}

.card:hover {
    box-shadow: 0 0 20px 1px rgb(1, 0, 1);
    background-color: aqua;
    width: 30rem;
}

.card h1 {
    font-size: 20px;
    margin: 5%;
}
.card h2 {
    font-size: 20px;
    margin: 5%;
}

.card h3 {
    font-size: 20px;
    margin: 5%;
}

.image {
    padding: 0;
    width: 16vw;
    height: 135px;
    object-fit: cover;
    border-radius: 15px;
    margin: 5%;
}

.activity {
    color: blueviolet;
}