.home {
    width: 100vw;
}

.home h1 {
    color: blue;
    font-family: cursive;
}

.filter {
  display: flex;
  justify-content: space-around;
}

.but {
  border-radius: 28px;
  font-family: cursive;
  font-size: 10px;
  color: blueviolet;
  padding: 20px;
  margin: 1em;
  border: ridge;
  background: aqua;
  cursor: pointer;
  font-weight: bold;
}