@font-face {
  font-family: stocky;
  src: url("../../image/stocky.ttf");
}

.div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  margin: 50px;
}

.h1 {
    font-family: stocky;
    color: navy;
    font-size: 50px;
}

.but {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid royalblue;
  background: royalblue;
}
.but:hover {
  background: #fff;
  color: royalblue
}
