.card {
    margin: 25px;
    width: 50em;
    height: 70em;
    font-size: 5px;
    background-color: #b9ffff;
    border: 2px solid #06d6a0;
    font-family: cursive;
    border-radius: 2em;
    overflow: hidden;
    transition: all 0.5s;
}

.card:hover {
    box-shadow: 0 0 20px 1px rgb(1, 0, 1);
    background-color: #fff;
}

.h1 {
    font-size: 20px;
    margin: 5%;
    text-align: center;
}

.h3 {
    font-size: 20px;
    margin: 5%;
    color: black;
}

.image {
    width: 45%;
    height: 25%;
    margin: 55px;
    object-fit: contain;
}