@font-face {
  font-family: stocky;
  src: url("../../image/stocky.ttf");
}

.containerForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  margin: 50px;
  gap: 50px;
}

.tittle {
  color: navy;
  font-family: stocky;
  font-size: 50px;
}

.containerForm form { 
  display: grid;
  flex-direction: column;
  align-items: center;
  position: static;
  width: 1150px;
  height: 750px;
  background-color: #b9ffff;
  border-radius: 20px;
  font-size: 15px;
  border: solid navy 5px;
} 

.containerForm p{ 
  align-items: center; 
  color:red;
  grid-column:center; 
  margin: 1%; 
  font-size: 15px; 
  font-family: cursive;
} 

.containerForm label {
  font-size: 25px;
  color: black;
  font-family: cursive;
  font-weight: bold;
  margin: 20px;
}

.input {
  background: royalblue;
  border: 3px solid navy;
  border-radius: 50px;
  color: white;
  font-family: cursive;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
}

.input:hover {
  background-color: #fff;
  color: navy;
}

.submit {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid royalblue;
  background: royalblue;
}
.submit:hover {
  background: #fff;
  color: royalblue
}

.containerFlags { 
  display: grid;  
  grid-template-columns: repeat(6,1fr); 
  gap: 1%; 
  border: 2px solid; 
  max-width: 80vw;        
  max-height: 45vh;     
  overflow: auto; 
  padding: 1%; 
  margin: 1%; 
} 

.flags{ 
 position: relative;  
 max-width: 80vw;
} 

.flags img {     
  height: auto; 
  width: 100%;   
  aspect-ratio: 1.5/1; /*sirve para la relacion ancho alto*/     
} 

.buttonX{ 
  position:absolute; 
  top: 0; 
  right: 0; 
  cursor: pointer; 
  background-color: #0908087d; 
  color: rgb(242, 234, 234); 
  font-size: 0.5vw; 
  padding: 0.6vh 1vh;   
  margin: 0.4vh;  
  border: rgb(101, 146, 174) solid 0.4px;   
} 

.buttonX:hover { 
  color: red; 
  filter:brightness(1); 
  transform: scale(1.2); 
}

.pl {
  display: flex;
  color: red;
  max-width: 80vw;        
  max-height: 45vh;
  padding: 1%; 
  margin: 1%; 
}