.div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

.select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: royalblue;
  color: white;
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 50px;
  border-style: groove;
  cursor: pointer;
  font-family: cursive;
 }

 .select:hover {
  background: #fff;
  color: royalblue
 }