.div {
    display: flex;
}

.input {
    border-radius: 28px;
    font-family: cursive;
    font-size: 2em;
    color: black;
    padding: 12px;
    right: 300px;
    top: 250px;
    position: unset;
    border: ridge;
    background: #fff;
    border-left-width: medium;
    cursor: pointer;
    margin: 15px;
}