@font-face {
    font-family: stocky;
    src: url("../../image/stocky.ttf");
  }

.content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: start;
    color: navy;
    font-family: cursive;
    margin: 50px;
}

.left {
    display: contents;
}

.left h1 {
    font-size: 3vw;
}
.left h1 span {
    color: white;
}

.nav2 {
    display: flex;
    gap: 4vw;
    align-items: center;
}

.nav h2 {
    font-family: stocky;
    font-size: 50px;
    font-weight: 700;
}

.nav button {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid royalblue;
    background: royalblue;
}
.nav button:hover {
    background: #fff;
    color: royalblue
  }

.image {
    border-radius: 50%;
}
