.div {
    background-image: url(../../image/banderas2.jpg);
    display: flex;
    justify-content: space-around;
    padding: 20px;
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    border: 5px white;
    border-radius: 50px;
    margin: 20px;
}

.act {
  border-radius: 28px;
  font-family: cursive;
  font-size: 10px;
  color: blueviolet;
  padding: 20px;
  margin: 1em;
  border: ridge;
  background: aqua;
  cursor: pointer;
  font-weight: bold;
}